.Section-A{
    background-color: white;
    height: 75vh;
    display: flex;
    justify-content: center;
    padding-top: 7rem;
    margin-top: 1rem;
    overflow: hidden;
}

#a-image-background{
    border-radius: 50%;
    background-color: #FFF8F5;
    width: 32rem;
    height: 33rem;
    position: relative;
}

#a-image{
    width: 26rem;
    position: absolute;
    top: -3rem;
    right: 2rem;
}

#a-1{
    width: auto;
}

#a-header{
    width: 20rem;
    text-align: left;
    margin-top: 5rem;
}

#a-p{
    width: 25rem;
    text-align: left;
    margin-top: 1rem;
}




@media only screen and (max-width: 490px){
    .Section-A{
        background-color: white;
        height: 60rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 2rem;
        margin-top: 1rem;
        overflow: hidden;
    }
    
    #a-image-background{
        border-radius: 50%;
        background-color: #FFF8F5;
        min-width: 30rem;
        min-height: 30rem;
        position: relative;
        margin-top: 10rem;
    }
    
    #a-image{
        width: 30rem;
        position: absolut;
        top: -3rem;
        right: 0%;
    }
    
    #a-1{
        width: 80vw;
    }
    
    #a-header{
        width: 89%;
        text-align: left;
        margin-top: 5rem;
        margin-bottom: 2rem;
    }
    
    #a-p{
        width: 100%;
        text-align: left;
    }
}