.Section-C{
    background-color: white;
    height: auto;
    padding-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
}

.C-image{
    width: 10rem
}

.C-name{
    margin-top: 1rem;
}

.C-div{
    width: 28%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: rgb(94, 91, 91);
    margin-top: 3rem;
}

.Location-Status-Holder{
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.Status{
    color: rgb(5, 5, 92);
    background-color: rgb(177, 177, 255);
    padding: .2rem;
    border-radius: 2px;
    margin-left: 1rem;
    padding-left: .5rem;
    padding-right: .5rem;
}

.C-text{
    text-align: left;
    width: 70%;
}


@media only screen and (max-width: 490px){
    .Section-C{
        background-color: white;
        height: auto;
        padding-top: 3rem;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: unset;
        width: 100%;
        align-items: center;
    }
    
    .C-div{
        width: 90%;
        display: flex;
        flex-direction: column;
        color: rgb(94, 91, 91);
        margin-top: 3rem;
    }
    
    .C-image{
        width: 10rem;
        margin-bottom: 2rem;
        margin-top: 3rem;
    }
    
    .Location-Status-Holder{
        display: flex;
        align-items: center;
        margin: unset;
        margin-bottom: 1rem;
    }

    .C-name{
        margin-bottom: 2rem;
        margin-top: unset;
    }
    
    .Status{
        color: rgb(5, 5, 92);
        background-color: rgb(177, 177, 255);
        padding: .2rem;
        border-radius: 2px;
        margin-left: 1rem;
        padding-left: .5rem;
        padding-right: .5rem;
    }
    
    .C-text{
        text-align: left;
        width: 100%;
    }
}