.Thank-you{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100vw;
}

.Thank-you >p,
.Thank-you >h1{
    width: 30%;
    margin-top: 2rem;
}

.Thank-you > h2{
    padding: 2rem;
    background-color: #FFF8F5;
    border-radius: 50%;
    font-size: 4rem;
    margin-top: 3rem;
}


#thank-button{
    text-decoration: none;
    background-color: #FF5C00;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    color: white;
    margin-top: 2rem;
    cursor: pointer;
    transition: .4s;
}






@media only screen and (max-width: 490px){
    .Thank-you{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 100vw;
    }
    
    .Thank-you >p,
    .Thank-you >h1{
        width: 80%;
        margin-top: 2rem;
    }
    
    .Thank-you > h2{
        padding: 2rem;
        background-color: #FFF8F5;
        border-radius: 50%;
        font-size: 4rem;
        margin-top: 10rem;
    }
    
    
    #thank-button{
        text-decoration: none;
        background-color: #FF5C00;
        padding: 1rem 2rem;
        border: none;
        border-radius: 5px;
        color: white;
        margin-top: 2rem;
        cursor: pointer;
        transition: .4s;
    }
}